@charset "utf-8";
/* CSS Document */

body {
	background-color: hsla(0,81%,29%,0.65);
}

.myButton {
	background-color: #FF0004;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ABABAB;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color: #FFFFFF;
}
.myButton:active {
	position:relative;
	top:1px;
}

h1 {
	font:family Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #fff;
}